[submodule "addons/2026_07_25_gdp_ks4036_to_lama_cpp"]
	path = addons/2026_07_25_gdp_ks4036_to_lama_cpp
	url = https://github.com/EloiStree/2026_07_25_gdp_ks4036_to_lama_cpp.git
[submodule "addons/2026_04_11_gdp_learn_with_sensors"]
	path = addons/2026_04_11_gdp_learn_with_sensors
	url = https://github.com/EloiStree/2026_04_11_gdp_learn_with_sensors.git
[submodule "addons/2026_04_27_gdp_oled_128x64"]
	path = addons/2026_04_27_gdp_oled_128x64
	url = https://github.com/EloiStree/2026_04_27_gdp_oled_128x64.git
